[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "injectoR"]
	path = injectoR
	url = https://github.com/cran/injectoR
	shallow = true
	registered = true
